@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body    {
    background-color: black;
}

.paper  {
    background-color: #000;
    /* background-color: white; */
    width: 11in;
	height: 17in;
	border: 1px solid white;
	transform-origin: 50% 0%;	
	margin: auto;
    /* margin: inherit; */
	overflow: hidden;
	position: relative;
    box-shadow: 20px 20px white;
}

h1  {
    color: white;
    text-align: center;
    text-decoration:dashed;
}

h2  {
    color: white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 4rem;
    padding: 3rem;
}

h3  {
    color: white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5rem;
    float: right;
    padding: 3rem;
}

/* .bg-audio   {
    display: hidden;
} */

.hidden {
    font-size: 2rem;
    padding: 4rem;
}

a   {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: white;
}


.horse  {
    float: right;
}

.hide {
    display: none;
  }
      
.myDIV:hover + .hide {
    display: block;
    color: white;
  }
